:root {
  --open-sans: 'Open Sans', sans-serif;
  --nunito-sans: 'Nunito Sans', sans-serif;

  --accent-light: #ffc725;
  --accent-dark: #f37335;
  --dark: #443737;
  --light: #ffffff;
  --light-rgb: 255, 255, 255;
}

body {
  font-family: var(--open-sans);
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Шапка сайта */
.header {
  border-bottom: 1px solid #dedede;
}

.header-wrapper {
  display: flex;
  align-items: center;
  gap: 185px;
  margin: 0px 0px 0px 0px;
  padding-top: 26px;
  padding-bottom: 26px;
}

/* Логотип */
.logo {
  display: block;
  width: 175px;
  height: 56px;
  background-image: url(../images/logo.svg);
  /* Чтобы изображение не дублировалось при смещении: */
  background-repeat: no-repeat;
  background-size: contain;
}

/* Блок навигации */
.nav {
  flex-grow: 1;
  display: flex;
  gap: 47px;
}

.nav-link {
  color: var(--dark);
  font-weight: 600;
  font-size: 20px;
}

.nav-link::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: transparent;
  border-radius: 1.5px;
}

.nav-link:hover::after {
  background-color: var(--accent-light);
}

/* Корзина с товарами и счётчик */
.cart {
  color: var(--dark);
  font-weight: 700;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.cart::before {
  content: '';
  display: block;
  width: 30px;
  height: 26px;
  background-image: url(../images/shopping-cart.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.cart-count {
  display: flex;
  width: 17px;
  height: 17px;
  color: var(--light);
  background-color: var(--accent-dark);
  font-size: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  bottom: 0px;
  left: 17px;
}

/* Главный блок на странице */
.hero {
  background-image: url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-size: cover();
  background-position: center center;
  text-align: center;
  padding-top: 142px;
  padding-bottom: 142px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 16px;
  padding-left: 0;
  color: rgba(var(--light-rgb), 0.5);
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

.breadcrumbs-link {
  color: rgba(var(--light-rgb), 0.5);
}

.breadcrumbs-link:hover {
  color: var(--accent-light);
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
  content: '/';
  position: absolute;
  right: -12px;
}

.hero-title {
  font-family: var(--nunito-sans);
  font-weight: 700;
  font-size: 79px;
  color: var(--light);
  text-transform: capitalize;
  margin-top: 20px;
  margin-bottom: 18px;
}

.hero-description {
  max-width: 320px;
  font-family: var(--open-sans);
  font-size: 15px;
  line-height: 160%;
  color: rgba(var(--light-rgb), 0.8);
  margin: 0 auto;
}

/* Баннер */

.banner {
  margin-top: 140px;
}

.banner-wrapper {
  padding: 100px;
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-title {
  color: var(--light);
  font-family: var(--font-family);
  font-size: 60px;
  font-weight: 900;
  line-height: 126%;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 11px;
}

.banner-title span {
  display: block;
  max-width: 95px;
  color: var(--light);
  font-family: var(--open-sans);
  background-color: var(--accent-dark);
  color: var(--light);
  font-size: 14px;
  font-weight: 600;
  line-height: 128%;
  text-transform: uppercase;
  text-align: center;
  border-radius: 14px;
  padding: 5px 0;
  margin-bottom: 4px;
}

.banner-description {
  max-width: 328px;
  margin-top: 0;
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 15px;
  color: rgba(var(--light-rgb), 0.8);
  font-style: normal;
  line-height: 160%;
}

.banner-btn {
  font-size: 14px;
  font-family: var(--nunito-sans);
  font-weight: 700;
  padding: 22px 25px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--dark);
  background-color: var(--accent-light);
  border: none;
  border-radius: 5px;

  cursor: pointer;
}

.banner-btn:hover {
  background-color: var(--accent-dark);
}

/* Блок с товарами */

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 34px;
}

.menu-title {
  margin: 0;
}

.menu-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 50px 20px;
}

.menu-thumb {
  height: 430px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.menu-thumb img {
  width: 100%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.menu-title {
  font-family: var(--nunito-sans);
  font-weight: 700;
  font-size: 44px;
  line-height: 127%;
  text-transform: uppercase;
  color: var(--dark);
}

.selection-sort {
  font-family: var(--open-sans);
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--dark);
  border: 1px lightgray solid;
  border-radius: 10px;
  padding: 10px 10px;
  position: relative;
}

.menu-name {
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: var(--nunito-sans);
  font-weight: 600;
  font-size: 30px;
  line-height: 127%;
  text-align: center;
  color: var(--dark);
}

.menu-price {
  margin-top: 0;
  font-family: var(--nunito-sans);
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: rgba(68, 55, 55, 0.5);
}

.menu-btn {
  font-size: 14px;
  font-family: var(--nunito-sans);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--dark);
  background-color: var(--accent-light);
  border: none;
  border-radius: 5px;
  width: 152px;
  height: 38px;
  line-height: 129%;
  cursor: pointer;
  display: block;
  margin: 0 auto; /* Центрирует кнопку по горизонтали */
  position: relative;
}

.menu-btn::before {
  position: absolute;
  content: url(../images/cartBtn.svg);
  top: 10px;
  left: 25px;
}
